@font-face {
    font-family: "KaushanScript-Regular";
    src: url(../css/fonts/kashan/kaushan-script-v6-latin-regular.ttf);
  }
  
  @font-face {
    font-family: "Montserrat-Bold";
    src: url(../css/fonts/monsterrat/Montserrat-Bold.ttf)
  }
  
  @font-face {
    font-family: "Montserrat-Regular";
    src: url(../css/fonts/monsterrat/Montserrat-Regular.ttf)
  }
  
  @font-face {
    font-family: "RobotoCondensed-LightItalic";
    src: url(../css/fonts/Roboto/RobotoCondensed-LightItalic.ttf)
  }
  
  @font-face {
    font-family: "Roboto-Regular";
    src: url(../css/fonts/Roboto/Roboto-Regular.ttf)
  }
  
  html {
    box-sizing: border-box;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
    margin: 0;
  }
  
  .header {
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 80px;
  }
  
  .logo {
    color: #95e1d3;
    font-size: 30px;
    text-decoration: none;
  }
  
  .menu__navigation {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  
  .menu__item {
    list-style: none;
    margin-right: 55px;
  }
  
  .menu__item:last-child{
    margin-right: 0;
  }
  
  .active {
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    padding-bottom: 10px;
    color: #b0e9de;
    font-size: 14px;
    transition: color 200ms linear;;
  }
  
  .active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #f38181;
    opacity: 0;
    transition: opacity 200ms linear;
  }
  
  .active:hover {
    color: #f38181;
  }
  
  .active:hover::after {
    opacity: 1;
  }
  
  .section__firs,
  .section__second {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section__second {
    padding-bottom: 150px;
  }
  
  .box {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-top: 32px;
  }
  
  .box__item {
    position: relative;
    padding-left: 70px;
    width: 380px;
    display: block;
    margin: 62px 20px 0 0;
    text-align: left;

  }

  .box__item_1::before {
    position: absolute;
    display: inline-block;
    content: '';
    left: 10px;
    top: 0;
    background: no-repeat center;
    background-image: url(../img/alarmclock.png);
    width: 40px;
    height: 40px;
  }
  .box__item_2::before {
    position: absolute;
    display: inline-block;
    content: '';
    left: 10px;
    top: 0;
    background: no-repeat center;
    background-image: url(../img/book.png);
    width: 40px;
    height: 40px;
  }

  .box__item_3::before {
    position: absolute;
    display: inline-block;
    content: '';
    left: 10px;
    top: 0;
    background: no-repeat center;
    background-image: url(../img/computer.png);
    width: 40px;
    height: 40px;
  }

  .box__item_4::before {
    position: absolute;
    display: inline-block;
    content: '';
    left: 10px;
    top: 0;
    background: no-repeat center;
    background-image: url(../img/line.png);
    width: 40px;
    height: 40px;
  }

  .box__item_5::before {
    position: absolute;
    display: inline-block;
    content: '';
    left: 10px;
    top: 0;
    background: no-repeat center;
    background-image: url(../img/home.png);
    width: 40px;
    height: 40px;
  }

  .box__item_6::before {
    position: absolute;
    display: inline-block;
    content: '';
    left: 10px;
    top: 0;
    background: no-repeat center;
    background-image: url(../img/border.png);
    width: 40px;
    height: 40px;
  }
  
  .box__item:nth-child(3n) {
    margin-right: 0;
  }
  
  .box__item:nth-last-child(-n+3) {
    margin-bottom: 90px;
  }
  
  .inner__box h3 {
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 18px;
    font-family: "Montserrat-Regular";
    letter-spacing: 1px;
  }
  
  .inner__box p {
    font-size: 14px;
    line-height: 18px;
    font-family: "Roboto-Regular";
  }
  
  .inner__box {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .container {
    margin: 0 auto;
    text-align: center;
  }
  
  .header__box1 {
    display: block;
    font-size: 24px;
    margin-bottom: 14px;
    font-family: "KaushanScript-Regular";
  }
  
  .header__box2 {
    font-size: 30px;
    margin: 0;
    padding-bottom: 14px;
    position: relative;
    font-family: "Montserrat-Bold";
  }
  h2,
  h3 {
    margin: 0;
  }
  
  .header__box2::after {
    content: "";
    height: 3px;
    width: 60px;
    background: #f38181;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }
  
  .header__box3 {
    margin-top: 40px;
    text-align: center;
    font-family: "Roboto-Regular";
  }
  
  /* .img {
    width: 80px;
    display: flex;
    margin-top: 6px;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
  } */
  
  .gallery {
    display: flex;
    width: 1200px;
    margin-top: 52px;
  }
  
  .gallery__item {
    width: 380px;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    cursor: pointer;
  }
  
  .gallery__item:last-child {
    margin-right: 0;
  }
  
  .gallery__item::before{
    background-color: #95e1d3;
    content: '';
    position: absolute;
    width: 380px;
    height: 470px;
    z-index: 0;
  }
  
  .gallery__img {
    width: 380px;
    height: 470px;
    position: relative; 
    transition: all .6s ease-in-out;
    z-index: 1;
    border: none;
  }
  
  .gallery__p1,
  .gallery__p2 {
    text-align: center;
  }
  
  .gallery__p1 {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 11px;
    margin-top: 27px;
    font-family: "Montserrat-Regular";
  }
  
  .gallery__p2 {
    font-size: 15px;
    font-family: "RobotoCondensed-LightItalic";
  }
  
  .footer {
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px  #e5e5e5;
  }
  
  .footer__p {
    font-family: "Montserrat-Regular";
    font-size: 14px;
  }
  
  .auther {
    color: #f6a1a1;
  }
  
  .form {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 40px;
    
  }
  
  .input__left {
    width: 60%;
    display: flex;
    border: 1px solid #e7e7e7;
    border-right: none;
    padding: 5px;
  }
  
  .input__right {
    text-transform: uppercase;
    width: 40%;
    background: #95e1d3;
    color: #fff;
  }
  
  .gallery__item::after {
    background-image: -moz-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    position: absolute;
    content: '';
    height: 470px;
    width: 380px;
    opacity: 0;
    transition: all .6s ease-in-out;
    z-index: 1;
  }
  
  .gallery__item:hover::after {
    opacity: .8;
    transform: translate(-10px, -10px);
  }
  
  .gallery__item:hover .gallery__img,
  .gallery__item:hover .sprite {
    transform: translate(-10px, -10px);
    opacity: 1;
  }
  
  .sprite {
    position: absolute;
    width: 381px;
    height: 471px;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    z-index: 4;
    opacity: 0;
    transition: all .6s ease-in-out;
    list-style: none;
  }
  
  .sprite__img {
    transition: background .6s ease-in-out;
  }
  .sprite__img_1 {
    position: absolute;
    background: no-repeat center;
    background-image: url(../img/facebook.png);
    width: 57px;
    height: 57px;
    margin: 1px;

  }
  .sprite__img_2 {
    position: absolute;
    background: no-repeat center;
    background-image: url(../img/twitter.png);
    width: 57px;
    height: 57px;
    margin: 1px;

  }

  .sprite__img_3 {
    position: absolute;
    background: no-repeat center;
    background-image: url(../img/pinterest.png);
    width: 57px;
    height: 57px;
    margin: 1px;

  }

  .sprite__img_4 {
    position: absolute;
    background: no-repeat center;
    background-image: url(../img/insta.png);
    width: 57px;
    height: 57px;
    margin: 1px;

  }

  .sprite__img:hover {
    background: #95e1d3;
  }

  li {
    margin: 0;
  }
  
  .sprite__img {
    margin: 1px;
    width: 57px;
    height: 57px;
    object-fit: none;
    background: #fce38a;
  }