* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.header {
    padding: 35px 0;
}

.main-menu,
.section_inner {
    width: 1170px;
    margin: 0 auto;
    padding: 0 30px;
}

.logo {
    display: inline-block;
    line-height: 32px;
}

.logo img {
    vertical-align: middle;
}

.site-menu {
    list-style: none;
    line-height: 32px;
    margin: 0;
    padding: 0;
    float: right;
} 
.clearfix::after {
    content: '';
    clear: both;
    display: block;
}

.site-menu li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 15px;
}

.site-menu li:last-child {
    margin-right: 0;
}

.site-menu a.link {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-family: "OpenSans";
}

.site-menu a:hover {
    display: block;
    color: #1abc9c;
}
.slider {
    position: relative;
    width: 800px;
    height: 400px;
    margin: auto;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0,3);
}
.slider-crlt {
    position: absolute;
    top: 50%;
    border: none;
    display: inline-block;
    width: 50px;
    height: 57px;
    background-color: #26b9e1;
    transform: translateY(50%);
    font-weight: 700;
}
.slider-crlt-prev {
left: 0;
}
.slider-crlt-next {
right: 0;
}
.SLIDER {
    position: relative;
    left: 0px;
    top: 0px;
    width: 800px;
    height: 400px;
    margin: auto;
    z-index: 76;
  }

